:root {
	var-red: #df3f3f;
	var-title-font: 'proxima-nova-rgbold', 'Helvetica', 'Arial', sans-serif;
	var-text-font: 'Lato', 'Helvetica', 'Arial', sans-serif;
}

@font-face {
	font-family: 'proxima-nova-rgbold';
	src: url('../fonts/proximanova-bold-webfont.eot');
	src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/proximanova-bold-webfont.woff') format('woff'),
		 url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
		 url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'likeastore-icon-font';
	src: url('../fonts/likeastore-icon-font.eot');
	src: url('../fonts/likeastore-icon-font.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/likeastore-icon-font.woff') format('woff'),
		 url('../fonts/likeastore-icon-font.ttf') format('truetype'),
		 url('../fonts/likeastore-icon-font.svg#likeastore-icon-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

::selection {
	background-color: #e74c3c;
	color: #fff;
}

::-moz-selection {
	background-color: #e74c3c;
	color: #fff;
}

* {
	box-sizing: border-box;
}

body {
	color: #1f282d;
	background: #000;
	font: 300 16px var(text-font);
	width: 100%;
	overflow-x: hidden;
}

.logo {
	font-size: 1.55em;
	font-family: var(title-font);
	text-transform: lowercase;
	position: absolute;
	top: 30px;
	left: 25px;
	z-index: 100;
}

.logo a {
	color: #fff;
	text-decoration: none;
}

.go-to-login {
	display: inline-block;
	background: transparent;
	color: rgba(255,255,255,.85);
	border: 1px solid;
	border-color: rgba(255,255,255,.85);
	font-family: var(title-font);
	text-align: center;
	text-transform: capitalize;
	text-decoration: none;
	padding: 8px 14px;
	width: 85px;
	position: absolute;
	right: 30px;
	top: 25px;
	z-index: 100;
	border-radius: 2px;
	transition: all .3s;
}

.go-to-login:hover {
	background: var(red);
	color: #fff;
	border-color: transparent;
}

.bg {
	background-image: url('../img/tour-bg.jpg');
	background-image: url('http://farm3.staticflickr.com/2813/11962078634_fab744ca6b_o.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 100%;
	opacity: .78;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.hello-wrap {
	color: #fff;
	margin: 0 auto;
	padding-top: 455px;
	width: 800px;
}

.words {
	color: #fff;
	font: 3.05em/1.2em var(title-font);
	text-transform: capitalize;
	width: 700px;
}

.words-desc {
	font-size: 20px;
	color: rgba(255,255,255,0.65);
	margin-top: 10px;
}

.scroll-down {
	display: block;
	background: url('../img/scroll-hint.png') no-repeat center center;
	background-size: 42px;
	width: 42px;
	height: 42px;
	margin: 20px auto;
	opacity: .5;
	cursor: pointer;
}

.delay-1s {
	animation-delay: 1s;
}

.delay-2s {
	animation-delay: 2s;
}

.create-account-wrap {
	background: #fff;
	padding: 20px;
	height: 707px;
}
