:root {
	var-red: #df3f3f;
	var-logo-font: 'proxima-nova-rgbold', 'Montserrat', 'Helvetica', 'Arial', sans-serif;
	var-title-font: 'Montserrat', 'Source Sans Pro', 'Lato', 'Helvetica', 'Arial', sans-serif;
	var-text-font: 'Source Sans Pro', 'Lato', 'Helvetica', 'Arial', sans-serif;
	var-con-font: 'Oswald';
}

@font-face {
	font-family: 'proxima-nova-rgbold';
	src: url('../fonts/proximanova-bold-webfont.eot');
	src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/proximanova-bold-webfont.woff') format('woff'),
		 url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
		 url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'likeastore-icon-font';
	src: url('../fonts/likeastore-icon-font.eot');
	src: url('../fonts/likeastore-icon-font.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/likeastore-icon-font.woff') format('woff'),
		 url('../fonts/likeastore-icon-font.ttf') format('truetype'),
		 url('../fonts/likeastore-icon-font.svg#likeastore-icon-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before,
.font-icon:before {
	font-family: 'likeastore-icon-font';
	content: attr(data-icon);
	font-style: normal;
	font-weight: normal;
	speak: none;
	line-height: 1;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

::selection {
	background-color: #e74c3c;
	color: #fff;
}

::-moz-selection {
	background-color: #e74c3c;
	color: #fff;
}

* {
	box-sizing: border-box;
}

body {
	color: #1f282d;
	background: #000;
	font: 300 16px var(text-font);
	width: 100%;
	overflow-x: hidden;
}

h1, h2, h3 {
	font-family: var(title-font);
	font-weight: normal;
}

.block-text a {
	color: var(red);
	text-decoration: none;
	transition: all .2s;
	border-bottom: 1px solid;
}

.block-text a:hover {
	border-bottom: none;
}

.logo {
	font: 1.55em var(logo-font);
	text-transform: lowercase;
	position: absolute;
	top: 30px;
	left: 25px;
	z-index: 100;
}

.logo a {
	color: #fff;
	text-decoration: none;
}

.go-to-login {
	display: inline-block;
	background: transparent;
	color: rgba(255,255,255,.85);
	border: 1px solid;
	border-color: rgba(255,255,255,.85);
	font: 700 14px var(title-font);
	text-align: center;
	text-transform: capitalize;
	text-decoration: none;
	padding: 8px 14px;
	width: 85px;
	position: absolute;
	right: 30px;
	top: 25px;
	z-index: 100;
	border-radius: 2px;
	transition: all .3s;
}

.go-to-login:hover {
	background: var(red);
	color: #fff;
	border-color: transparent;
}

.bg {
	background-image: url('../img/tour-bg.jpg');
	background-image: url('http://farm3.staticflickr.com/2813/11962078634_fab744ca6b_o.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 100%;
	opacity: .78;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.box {
	width: 800px;
	margin: 0 auto;
}

.block-title {
	font-size: 2.5em;
}

.hello-wrap {
	color: #fff;
	margin: 0 auto;
	padding-top: 455px;
	position: relative;
	width: 100%;
	height: 100%
}

.words-block {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
}

.words {
	color: #fff;
	font: 700 2.8em/1.2em var(title-font);
	text-transform: capitalize;
	width: 700px;
}

.words-desc {
	font-size: 20px;
	color: rgba(255,255,255,0.65);
	margin-top: 10px;
}

.scroll-down {
	display: block;
	background-image: url('../img/scroll-hint.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 42px;
	width: 42px;
	height: 42px;
	margin: 20px auto;
	opacity: .5;
	cursor: pointer;
	border-radius: 100%;
	transition: all .2s;
}

.scroll-down:hover {
	background-color: var(red);
	opacity: 1;
}

.delay-1s {
	animation-delay: 1s;
}

.delay-2s {
	animation-delay: 2s;
}

.create-account-wrap {
	background: #fff;
	padding: 75px 0;
	height: 250px;
	position: relative;
}

.borderline {
	background-image: url('../img/line.png');
	position: absolute;
	width: 100%;
	height: 2px;
	top: -2px;
	left: 0;
	background-repeat: repeat-x;
	background-size: 6px 2px;
}

.account-block .block-title {
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
}

.account-block .block-text {
	width: 560px;
	font-size: 20px;
	margin-top: 20px;
	line-height: 28px;
}

.account-block .icon {
	display: inline-block;
	font-size: 18px;
	margin-right: 6px;
	line-height: 32px;
	vertical-align: top;
}

.get-started {
	display: block;
	border: 0;
	padding: .9em 1.8em .8em;
	box-shadow: none;
	background: #1abc9c;
	color: #fff;
	font-size: 1.1em;
	font-weight: 700;
	line-height: 1;
	margin-top: 61px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .1s ease-in background-color;
	border-radius: 2px;
	-webkit-font-smoothing: antialiased;
}