:root {
	var-red: #df3f3f;
	var-green: #57ad68;
	var-yellow: #f1c40f;
	var-black: #1f282d;
	var-logo-font: 'proxima-nova-rgbold', 'Montserrat', 'Helvetica', 'Arial', sans-serif;
	var-title-font: 'Montserrat', 'Source Sans Pro', 'Lato', 'Helvetica', 'Arial', sans-serif;
	var-text-font: 'Source Sans Pro', 'Lato', 'Helvetica', 'Arial', sans-serif;
	var-con-font: 'Oswald';
}

@font-face {
	font-family: 'proxima-nova-rgbold';
	src: url('../fonts/proximanova-bold-webfont.eot');
	src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/proximanova-bold-webfont.woff') format('woff'),
		 url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
		 url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'likeastore-icon-font';
	src: url('../fonts/likeastore-icon-font.eot');
	src: url('../fonts/likeastore-icon-font.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/likeastore-icon-font.woff') format('woff'),
		 url('../fonts/likeastore-icon-font.ttf') format('truetype'),
		 url('../fonts/likeastore-icon-font.svg#likeastore-icon-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before,
.font-icon:before {
	font-family: 'likeastore-icon-font';
	content: attr(data-icon);
	font-style: normal;
	font-weight: normal;
	speak: none;
	line-height: 1;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

::selection {
	background-color: #e74c3c;
	color: #fff;
}

::-moz-selection {
	background-color: #e74c3c;
	color: #fff;
}

* {
	box-sizing: border-box;
}

body {
	color: var(black);
	background: #000;
	font: 300 16px var(text-font);
	width: 100%;
	overflow-x: hidden;
}

h1, h2, h3 {
	font-family: var(title-font);
	font-weight: normal;
}

.block-text a {
	color: var(red);
	text-decoration: none;
	transition: all .2s;
	border-bottom: 1px solid;
}

.block-text a:hover {
	border-bottom: none;
}

.logo {
	font: 1.55em var(logo-font);
	text-transform: lowercase;
	position: absolute;
	top: 30px;
	left: 25px;
	z-index: 100;
}

.logo a {
	color: #fff;
	text-decoration: none;
}

.go-to-login {
	display: inline-block;
	background: transparent;
	color: rgba(255,255,255,.85);
	border: 1px solid;
	border-color: rgba(255,255,255,.85);
	font: 700 14px var(title-font);
	text-align: center;
	text-transform: capitalize;
	text-decoration: none;
	padding: 8px 14px;
	width: 85px;
	position: absolute;
	right: 30px;
	top: 25px;
	z-index: 100;
	border-radius: 2px;
	transition: all .3s;
}

.go-to-login:hover {
	background: var(red);
	color: #fff;
	border-color: transparent;
}

.bg {
	background-image: url('../img/tour-bg.jpg');
	background-image: url('http://farm3.staticflickr.com/2813/11962078634_fab744ca6b_o.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 100%;
	opacity: .78;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.box {
	width: 900px;
	margin: 0 auto;
	position: relative;
}

.block-title {
	font-size: 1.6em;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.block-text {
	color: #555;
	font-size: 20px;
	line-height: 28px;
}

.screenshot {
	border: 1px solid #e9e9e9;
	width: 400px;
	height: 305px;
	padding: 10px;
	margin: 15px 0 25px;
	vertical-align: middle;
	border-radius: 2px;
	box-shadow: 4px 4px 0 #ecf0f1;
}

.screenshot img {
	max-width: 100%;
	width: auto\9;
	height: auto;
	vertical-align: middle;
	border: 0;
	border-radius: 2px;
	-ms-interpolation-mode: bicubic;
}

.point {
	background: #fff;
	padding-top: 50px;
	height: 420px;
	position: relative;
	z-index: 5;
}

.point .block-info,
.point .block-text {
	width: 400px;
}

.point .block-info {
	margin-top: 45px;
}

.point .block-text {
	width: 400px;
	margin-top: 25px;
}

.hello-wrap {
	color: #fff;
	margin: 0 auto;
	position: relative;
	width: 100%;
	height: 100%
}

.words-block {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 7px;
}

.words {
	color: #fff;
	font: 500 2.5em/1.2em var(title-font);
	text-transform: uppercase;
	letter-spacing: 1px;
	width: 800px;
}

.words-desc {
	font-size: 20px;
	color: #fff;
	color: rgba(255,255,255,0.65);
	margin-top: 10px;
}

.scroll-down {
	display: block;
	background-image: url('../img/scroll-hint.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 42px;
	width: 42px;
	height: 42px;
	margin: 20px auto;
	opacity: .5;
	cursor: pointer;
	border-radius: 100%;
	transition: all .2s;
}

.scroll-down:hover {
	background-color: var(red);
	opacity: 1;
}

.delay-1s {
	animation-delay: 1s;
}

.delay-2s {
	animation-delay: 2s;
}

.delay-5s {
	animation-delay: 5s;
}

.create-account-wrap {
	background: #fff;
	padding: 75px 0;
	height: 278px;
	position: relative;
}

.borderline {
	background-image: url('../img/line.png');
	position: absolute;
	width: 100%;
	height: 2px;
	top: -2px;
	left: 0;
	background-repeat: repeat-x;
	background-size: 6px 2px;
}

.account-block .block-title {
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
}

.account-block .block-text {
	width: 560px;
	margin-top: 20px;
}

.account-block .icon {
	display: inline-block;
	font-size: 18px;
	margin-right: 6px;
	line-height: 32px;
	vertical-align: top;
}

.get-started {
	display: block;
	background: var(red);
	border: 0;
	color: #fff;
	font-family: var(title-font);
	font-size: 16px;
	font-weight: 400;
	line-height: 48px;
	margin-top: 61px;
	width: 170px;
	height: 48px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .1s ease-in;
	border-radius: 2px;
	-webkit-font-smoothing: antialiased;
}

.get-started:hover,
.get-started:focus {
	background: transparent;
	border: 1px solid var(red);
	color: var(red);
}

.point.explore-networks-wrap {
	border-top: 1px solid #eee;
	padding-top: 80px;
	height: 450px;
}

.block-info.right {
	text-align: right;
}

.point.search-content-wrap {
	height: 500px;
}

.devices-overview-wrap {
	background: rgba(0,0,0,.3);
	color: #fff;
	height: 810px;
	padding-top: 75px;
	position: relative;
	overflow: hidden;
	z-index: 2;
}

.devices-overview-wrap .block-title {
	color: #fff;
	font-size: 2.4em;
	text-align: center;
}

.devices-overview-wrap .block-text {
	width: 800px;
	color: #fff;
	color: rgba(255,255,255,0.7);
	margin: 25px auto;
	font-size: 18px;
	text-align: center;
}

.start-use {
	display: block;
	color: #fff;
	border: 1px solid #fff;
	font-size: 16px;
	font-family: var(title-font);
	line-height: 54px;
	margin: 46px auto;
	width: 215px;
	height: 54px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 2px;
	transition: all .2s;
}

.start-use:hover,
.start-use:focus {
	background: var(green);
	border-color: transparent;
}

.browser {
	background: url('../img/feed-box.png') top center no-repeat;
	background-size: 100%;
	margin: 150px auto;
	width: 550px;
	height: 575px;
	position: relative;
}

.browser:before {
	display: block;
	background: #000;
	content: '';
	height: 30px;
	position: relative;
	top: -30px;
	border-radius: 3px 3px 0 0;
}

.browser:hover img {
	bottom: 100px;
}

.browser-ctrl {
	background: var(red);
	position: absolute;
	top: -18px;
	width: 8px;
	height: 8px;
	border-radius: 100%;
}

.browser-ctrl.red {
	background: var(red);
	left: 13px;
}

.browser-ctrl.yellow {
	background: var(yellow);
	left: 26px;
}

.browser-ctrl.green {
	left: 39px;
	background: var(green);
}

.browser img {
	position: absolute;
	width: 185px;
	height: auto;
	bottom: -78px;
	right: 0;
	left: 0;
	margin: 0 auto;
	transition: all .3s
}

.footer-wrap {
	background: #fff;
	padding-top: 50px;
	height: 250px;
}

.footer-wrap hr {
	display: block;
	height: 1px;
	border: none;
	border-top: solid 1px #ccc;
	width: 25%;
	margin: 50px auto 0;
}

.footer-wrap ul {
	width: 340px;
	margin: 30px auto;
}

.footer-wrap li {
	display: inline-block;
}

.footer-wrap ul li a {
	color: var(black);
	font-size: 12px;
	font-family: var(title-font);
	font-weight: 500;
	margin: 0 5px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
}

.footer-wrap ul li a.twitter {
	text-transform: lowercase;
}

.footer-wrap ul li a:hover,
.footer-wrap ul li a:focus {
	border-bottom: 1px solid;
}

.back-to-steps {
	display: block;
	color: #ccc;
	font-family: var(title-font);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	letter-spacing: 2px;
}
